/*  your css code here. If applicable */
:root {
            --bg-color: rgb(135, 206, 235);
        }

        body {
            background-color: var(--bg-color);
            font-family: Arial, sans-serif;
            margin: 20px;
        }

        /* --- Article Paragraphs Styling --- */
        article p:first-child {
            background-color: black;
            color: white;
            margin: 0;
            padding: 2px 5px;
        }

        article p:nth-child(2) {
           
            color: initial;
        }

        article p:last-child {
            color: red;
        }

       
        ul {
            list-style-position: inside;
            padding: 0;
            margin-top: 20px;
        }

        li {
            width: 50%;
            padding: 10px;
            box-sizing: border-box; /* Ensures padding doesn't affect width */
            background-color: gray; /* Default background for all items */
        }

       
        li:nth-child(odd) {
            background-color: white;
        }

       
        li:first-child, 
        li:last-child {
            font-size: 22px;
        }

       
        li:nth-last-child(3) {
            background-color: pink;
        }